<html>
    <head>
        <title>Believable African Proverbs Tweet Generator v0.0.1</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h6>Generated Proverb:</h6>
            <blockquote>{{ sentence }}</blockquote>
            <form action="/" method="get">
                <input type="hidden" name="sentence" value="{{ sentence }}">
                <button type="submit">Tweet this!</button>
                <button type="submit" onclick="generateNewProverb()">Generate!</button>
            </form>
        </div>
    <script>
        function generateNewProverb() {
           location.reload()
        }
    </script>
    </body>
</html>
