<html>
    <head>
        <title>Believable African Proverbs Tweet Generator v0.0.1</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <header class="masthead">
            <div class="container h-100">
                 <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h6>Generated African Proverb:</h6>
                        <h1 class="font-weight-light">{{ sentence }}</h1>
                        <form action="/" method="get">
                            <input type="hidden" name="sentence" value="{{ sentence }}">
                            <button type="submit">Tweet this!</button>
                            <button type="submit" onclick="generateNewProverb()">Generate!</button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
    <script>
        function generateNewProverb() {
           location.reload()
        }
    </script>
    </body>
</html>
